<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'tasks')}">

<body>

<div class="row">
    <div class="col s12">
        <h5 class="card-title center-align">Manage Clients</h5>
    </div>
</div>
<hr class="top_title">

<div class="row">

    <table id="task" class="responsive-table bordered highlight">
    <thead>
    <tr>
        <th style="width: 150px;">Task Name</th>
        <th style="width: 200px;">Task Details</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td>
            <a th:href="@{tasks/__${task.id}__}" th:text="${task.name }"/></a>
        </td>
        <td th:text="${task.details}"/>
    </tr>
    </tbody>
</table>

</div>

</body>
</html>
